doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Mimic Bot Message Packs
    h3 default
    include default/default.pug
    h3 spin
    include spin/spin.pug
    h3 mosaic
    include mosaic/mosaic.pug
    h3 thought
    include thought/thought.pug
    h3 shake
    include shake/shake.pug
    h3 sam
    include sam/sam.pug
